<!DOCTYPE html>
<html lang="en" ng-app="myCourseraAssignment1">
  <head>
    <title>Lunch Checker</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div ng-controller="myCourseraAssignment1Controller" class="container">
     <form novalidate name="myForm">
        <div class="form-group">
           <label for="lunchList"> <h1>Lunch Checker</h1> </label>
             <input name="lunchList" id="lunchList" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="lunchList" ng-pattern="/^[a-zA-Z\,\s]+$/" required>
         </div>
         <div class="form-group">
             <button ng-click="add();" class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <div class="custom-error"  ng-show="myForm.lunchList.$error.pattern">
                     Integers and special characters cannot be entered.</div>
            <div class="error" ng-show="error" ng-cloak> {{error}}</div>
          </div>
        </form>

     </div>
   </div>

</body>
</html>
